.content
  .row
    .box.box-primary
      .box-header.with-border
        %h1
          = t(:new_shop_store)
      .box-body
        = render 'form'
      .box-footer
        = link_to t(:back), shop_stores_path





