.login-page.col-8
  .login-box
    .login-logo
      二维码综合跟踪平台 
    .login-box-body
      = simple_form_for(:session, url: login_path, html: { class: 'form-horizontal' },wrapper: :horizontal_form,wrapper_mappings: {check_boxes: :horizontal_radio_and_checkboxes,radio_buttons: :horizontal_radio_and_checkboxes,file: :horizontal_file_input,boolean: :horizontal_boolean}) do |f|
        .form-group.has-feedback
          %input.form-control{type: :email, placeholder: "Email 邮箱", name: 'session[email]', id: :session_email}
          %span.glyphicon.glyphicon-envelope.form-control-feedback
        .form-group.has-feedback
          %input.form-control{type: :password, placeholder: 'Password 口令', name: 'session[password]', id: :session_password}
          %span.glyphicon.glyphicon-lock.form-control-feedback

        .row
          .col-xs-8
            .social-auth-links
              %span.glyphicon.glyphicon-registration-mark= link_to "新用户注册", new_admin_path

          .col-xs-4
            %input.btn.btn-primary.btn-block.btn-flat{type: :submit}
        .row  