.content
  .row
    .box.box-primary
      .box-header.with-border
        %h1
          = t(:edit_store_assistant)
      .box-body
        = render 'form'
      .box-footer
        = link_to t(:show), @store_assistant
        \|
        = link_to t(:back), store_assistants_path
