.register-box
  .register-logo
    %h4.panel-title.text-center 用户注册
  .register-box-body
    = simple_form_for(@admin, html: { class: 'form-horizontal' },wrapper: :horizontal_form,wrapper_mappings: {check_boxes: :horizontal_radio_and_checkboxes,radio_buttons: :horizontal_radio_and_checkboxes,file: :horizontal_file_input,boolean: :horizontal_boolean}) do |f| 
      .login-box-msg 
        = f.error_messages
      .form-group.has-feedback
        %input.form-control.required{ type: :text, name: 'admin[name]', id: 'admin_name', placeholder: "企业名称" }
        %span.glyphicon.glyphicon-user.form-control-feedback
      .form-group.has-feedback
        %input.form-control.required{ type: :text, name: 'admin[cell]', id: 'admin_cell', placeholder: "手机号码" }
        %span.glyphicon.glyphicon-phone.form-control-feedback
      .form-group.has-feedback
        %input.form-control.required{ type: :text, name: 'admin[password]', id: 'admin_password', placeholder: "登录密码" }
        %span.glyphicon.glyphicon-lock.form-control-feedback
      .form-group.has-feedback
        %input.form-control.required{ type: :text, name: 'admin[password_confirmation]', id: 'admin_password_confirmation', placeholder: "确认密码" }
        %span.glyphicon.glyphicon-lock.form-control-feedback
      .form-group.has-feedback
        %input.form-control{ type: :text, name: 'admin[address]', id: 'admin_address', placeholder: "企业地址" }
        %span.glyphicon.glyphicon-home.form-control-feedback        
      .form-group.has-feedback
        %input.form-control{ type: :text, name: 'admin[contact]', id: 'admin_contact', placeholder: "联系方式" }
        %span.glyphicon.glyphicon-earphone.form-control-feedback
      .form-group.has-feedback
        %input.form-control{ type: :text, name: 'admin[website]', id: 'admin_website', placeholder: "企业网址" }
        %span.glyphicon.glyphicon-globe.form-control-feedback
      .row
        %input.btn.btn-primary.btn-block.btn-flat{type: :submit}          
        



