.login-page.col-8
	.login-box
		.login-logo
			二维码综合跟踪平台	
		.login-box-body
			%form
				.form-group.has-feedback
					%input.form-control{type: :email, placeholder: :Email}
					%span.glyphicon.glyphicon-envelope.form-control-feedback
				.form-group.has-feedback
					%input.form-control{type: :password, placeholder: :Password}
					%span.glyphicon.glyphicon-lock.form-control-feedback

				
					