<span>编号：</span>
<br/>
<span><%= @event.serial_number %></span>
<br/>
<span>姓名：</span>
<br/>
<span><%= @event.field_1 %></span>
<br/>
<hr>
<span><%= @event.field_15 %></span>
<br/>
<p style="font-size: 12px;">微信搜索:妈妈校园</p>
<%= image_tag "./code.png", :style => "height: 80%; width: auto;" %>
<p style="font-size: 12px;">关注我们</p>
<style type="text/css">

  html{ margin: 0 auto; max-width: 100px;}
  body{ background-color:#FFFFFF; background-image:none; color:#000000; }
  #ad{ display:none;}
  #leftbar{ display:none;}
  #contentarea{ width:100%;}

</style>
<script type="text/javascript">
  window.onload = function() { window.print(); }
</script>
