<h2>预约登记</h2>
<br/>
<span>编号：</span>
<span><%= @event.serial_number %></span>
<br/>
<span>姓名：</span>
<br/>
<span><%= @event.field_1 %></span>
<br/>
<span><%= @event.field_15 %></span>
<br/>
<p style="font-size: 14px;">微信搜索:妈妈校园</p>
<br/>
<p style="font-size: 14px;">关注我们</p>
<style type="text/css">
@media print{
  body{ background-color:#FFFFFF; background-image:none; color:#000000 }
  #ad{ display:none;}
  #leftbar{ display:none;}
  #contentarea{ width:100%;}
}
</style>
<script type="text/javascript">
  window.onload = function() { window.print(); }
</script>
