<span>预约登记</span>
<span>编号</span>
<span><%= @event.serial_number %></span>
<br/>
<span>姓名</span>
<span><%= @event.field_1 %></span>
<br/>
<span><%= @event.field_15 %></span>
<br/>
<p style="font-size: 10px;">欢迎关注妈妈校园微信公众号</p>
<style type="text/css">
@media print{
  body{ background-color:#FFFFFF; background-image:none; color:#000000 }
  #ad{ display:none;}
  #leftbar{ display:none;}
  #contentarea{ width:100%;}
}
</style>
<script type="text/javascript">
  window.onload = function() { window.print(); }
</script>
