<span><%= @event.serial_number %></span>
<br/>
<span><%= @event.field_1 %></span>
<br/>
<span><%= @event.field_15 %></span>
<br/>
<span>欢迎关注妈妈校园微信公众号</span>
<style type="text/css">
@media print{
  body{ background-color:#FFFFFF; background-image:none; color:#000000 }
  #ad{ display:none;}
  #leftbar{ display:none;}
  #contentarea{ width:100%;}
}
</style>
