<span>预约编号： <%= @count.current_num %></span>
<br/>
<span>姓名： <%= @event.field_1 %></span>
<br/>
<span>手机： <%= @event.field_2[0..2] + "****" + @event.field_2[7..10] %></span>
<br/>
<hr>
<span><%= @event.field_15 %></span>
<br/>
<p style="font-size: 12px;">微信搜索:妈妈校园</p>
<img style="width: 120px; height: auto;" src="/images/./code.png" alt="Code">
<p style="font-size: 12px;">关注我们</p>
<style type="text/css">
  html{ margin: 0 auto; max-width: 200px;}
  body{ text-align:center; background-color:#FFFFFF; background-image:none; color:#000000; }
  #ad{ display:none;}
  #leftbar{ display:none;}
  #contentarea{ width:100%;}
</style>
<script type="text/javascript">
  window.onload = function() { window.print(); }
</script>
