.modal.fade{:id => "myModal#{product.id}", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title.text-center 产品扫码-预览
      .modal-body{:style => "padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;"}
        .page1{:style => "background-color: #1c1403; overflow: hidden;"}

          /
            <div class="underBlock fl">
            <img id="imgIntro"/>
            </div>
          .underBlock.fl.MT5.clearfix
            %img.bg{:src => "#{product.product_image}"}/
            / <img class="word" src="img/page1/page1_word.png">
            / <img class="head" src="img/page1/page1_head.png">
            / <img class="addr" src="img/page1/page1_addr.png">
            / <img class="logo" src="img/page1/page1_logo2.png">
