<div id="myModal<%=product.id%>" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">斑马数据银行产品认证</h4>
      </div>
      <div class="modal-body">
        <div class="page1" style="background-color: rgb(28, 20, 3); overflow: hidden;">
          <div class="aboveBlock">
            <div id="divHeader">
              <img class="bg" src="/img/page1/1.png" onload="resize(this, 568, 267);" />
              <div class="divChange">
                  <img id="divLogo" class="divlogo" style="margin: 3% 0 3% 5%; position:relative;" src="<%= product.product_logo %>" onload="resize(this, 120, 120);" />
                  <div class="divTitle" style="margin: -25% 0 0 65%; position:absolute;">
                  <p >亲爱的用户:</p>
                  <p id="msg" class="msg">经过专业扫码验证，您购买的此款 是品牌正品。请放心使用。</p>
                  <img id="stamp" class="stamp"/>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
		function resize(element, maxWidth, maxHeight){
			if(element.width > maxWidth || element.height > maxHeight){
				if(element.width / element.height > maxWidth / maxHeight){
					element.width = maxWidth;
				}else{
					element.height = maxHeight;
				}
			}
		}
</script>
