
%section.sidebar{style: 'height:auto'}
  .user-panel
    .pull-left.image
      %img.img-circle{src: "/img/user2-160x160.jpg", alt:"User Image"}

    .pull-left.info
      %p= current_user.name
      %a{href: '#'}
      %i.fa.fa-circle.text-success
        Online
  %ul.sidebar-menu
    %li.header
      导航栏
    %li{class: "treeview #{active_class(root_path)}"}
      %a{href: root_path}
        %i.fa.fa-dashboard
        %span Dashboard

    %li{class: "treeview"}
      %a{href: '#'}
        %i{class: "fa fa-pie-chart"}
        %span 商家管理
        %i{class: "fa fa-angle-left pull-right"   }
      %ul.treeview-menu
        %li
          %a{href: shop_stores_path}
            %i{ class: "fa fa-circle-o"    }
            商家列表
      %ul.treeview-menu
        %li
          %a{href: orders_path}
            %i{ class: "fa fa-circle-o"    }
            订单列表
        -# %li
        -#   %a{href: '/reports/idx1_2.html'}
        -#     %i{ class: "fa fa-circle-o"    }
        -#     门店列表
        -# %li
        -#   %a{href: '/reports/idx1_3.html'}
        -#     %i{ class: "fa fa-circle-o"    }
        -#     终端管理
        -# %li
        -#   %a{href: '/reports/idx1_5.html'}
        -#     %i{ class: "fa fa-circle-o"    }
        -#     积分管理
        -# %li
        -#   %a{href: '/reports/idx1_6.html'}
        -#     %i{ class: "fa fa-circle-o"    }
        -#     利润分成

    %li{class: "treeview"}
      %a{href: '#'}
        %i{class: "fa fa-pie-chart"}
        %span 商品管理
        %i{class: "fa fa-angle-left pull-right"   }
      %ul.treeview-menu
        %li
          %a{href: products_path }
            %i{ class: "fa fa-circle-o"    }
            商品列表
        -# %li
        -#   %a{href: '/reports/idx2_2.html'}
        -#     %i{ class: "fa fa-circle-o"    }
        -#     商品分类
        -# %li
        -#   %a{href: '/reports/idx2_3.html'}
        -#     %i{ class: "fa fa-circle-o"    }
        -#     属性值列表


    %li{class: "treeview"}
      %a{href: '#'}
        %i{class: "fa fa-pie-chart"}
        %span 编码管理
        %i{class: "fa fa-angle-left pull-right"   }
      %ul.treeview-menu
        %li
          %a{href: serials_path}
            %i{ class: "fa fa-circle-o"    }
            二维码生成
        %li
          %a{href: query_serials_path }
            %i{ class: "fa fa-circle-o"    }
            二维码查询
        %li
          %a{href: '/reports/idx3_2.html' }
            %i{ class: "fa fa-circle-o"    }
            二维码激活数
        %li
          %a{href:'/reports/idx3_3.html' }
            %i{ class: "fa fa-circle-o"    }
            商家条码管理
        %li
          %a{href:'/reports/idx3_7.html' }
            %i{ class: "fa fa-circle-o"    }
            异常扫码查询
        %li
          %a{href:'/reports/idx3_6.html' }
            %i{ class: "fa fa-circle-o"    }
            二维码注销

    %li{class: "treeview"}
      %a{href: '#'}
        %i{class: "fa fa-pie-chart"}
        %span 分销渠道
        %i{class: "fa fa-angle-left pull-right"   }
      %ul.treeview-menu
        %li
          %a{href: store_assistants_path }
            %i{ class: "fa fa-circle-o"    }
            医生列表

    %li{class: "treeview"}
      %a{href: '#'}
        %i{class: "fa fa-pie-chart"}
        %span 会员管理
        %i{class: "fa fa-angle-left pull-right"   }
      %ul.treeview-menu
        %li
          %a{href: users_path }
            %i{ class: "fa fa-circle-o"    }
            会员列表
        %li
          %a{href: events_path}
            %i{ class: "fa fa-circle-o"    }
            预约查询
        %li
          %a{href: tests_path}
            %i{ class: "fa fa-circle-o"    }
            测试结果
        %li
          %a{href: '/reports/idx6_2.html'}
            %i{ class: "fa fa-circle-o"    }
            积分管理
    %li{class: "treeview"}
      %a{href: '#'}
        %i{class: "fa fa-pie-chart"}
        %span 短信管理
        %i{class: "fa fa-angle-left pull-right"   }
      %ul.treeview-menu
        %li
          %a{href: '/reports/idx8_1.html' }
            %i{ class: "fa fa-circle-o"    }
            批量发送短信
        %li
          %a{href: '/reports/idx8_2.html'}
            %i{ class: "fa fa-circle-o"    }
            短信接口设置
